.paragraph {
    border: none;
    width: 100%;
    margin-bottom: 70px
}

.example_constrictor {
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
}

.handler{
    position: absolute;z-index: 30000;bottom: -23px;right: -23px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    cursor:move;
    background-image: url("../img/resize.png")
}


.browser{
    background-image: url("../img/chrome.png");
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}

.browser.ie{
    background-image: url("../img/ie.png");
}

.browser.ff{
    background-image: url("../img/firefox.png");
}

.browser.o{
    background-image: url("../img/opera.png");
}

.browser.s{
    background-image: url("../img/safari.png");
}

.browser.mobile_s{
    background-image: url("../img/mobile_safari.png");
}