.paragraph {
    border: none;
    width: 100%;
    margin-bottom: 70px
}

.example_constrictor {
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
}

.handler{
    position: absolute;z-index: 30000;bottom: -23px;right: -23px;
    width: 20px;
    height: 20px;
    cursor:move;
    background-image: url("../img/resize.png")
}


